:host {
    display: block;
  }
  
  input {
    display: inline-block;
    width: 45px;
    padding-left: 0px;
    position: relative;
    top: 2px;
    background: #454e56;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
  }
  
  label {
    display: inline-block;
    width: 45px;
    margin-right: 2px;
    padding-top: 5px;
    text-align: center;
    color: #FFFFFF;
  }